<!-- Optional additional links to insert for icons links -->
<a id="github-link" class="icon" title="Github Project" aria-label="Github Project" href="https://github.com/adityasharma1306" target="_blank">
    {% include svg/github.svg %}
</a>
<a id="linked-link" class="icon" title="LinkedIn" aria-label="LinkedIn"
    href="https://www.linkedin.com/in/aditya-sharma-60b8081a8/" target="_blank">
    {% include svg/linkedin.svg %}
</a>
<a id="insta-link" class="icon" title="Instagram" aria-label="Instagram"
    href="https://www.instagram.com/adity.sharma13/" target="_blank">
    {% include svg/instagram.svg %}
</a>
